body
{
    background-color: rgb(30, 7, 51);
    text-align: center;
}
.underContruction
{
    text-align: center;
}
.header
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
.bodyText
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a
{
    color: rgb(142, 0, 249);
}
.icons
{
    
}