body
{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page
{
    text-align: center;
    color: rgb(199, 199, 199);
}
.header
{
    color: white;
}
a
{
    color: rgb(132, 0, 255);
}
a:hover
{
    color: rgb(170, 79, 255);
}
img
{
    max-width: 100%;
    height: auto;
}
.spacing
{
    color: black;
}
.top
{
    color: white;
    display: flex;
    gap: 15px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 1%;
    width: 100%;
}
.team
{
    color: white;
}